body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #181818;
}

nav,
aside,
.main,
.video {
  border: 1px solid red;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

aside {
  width: 385px;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #202020;
  justify-content: space-between;
}

nav div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

nav div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

nav div:nth-child(3) img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

nav img:nth-child(1) {
  height: 20px;
}

nav img:nth-child(2) {
  height: 36px;
  padding: 9px 0px;
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.card img {
  height: 100px;
}

.description {
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  justify-content: space-around;
  padding-left: 8px;
}

.description h2 {
  margin: 0;
  font-size: 1.2rem;
}

.description p {
  margin: 0;
  color: #727272;
  font-size: 0.8rem;
}
