body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  background-color: #181818;
}

/* nav,
aside,
.main,
.video {
  border: 1px solid red;
} */

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

aside {
  width: 385px;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #202020;
  justify-content: space-between;
}

nav div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

nav div:nth-child(2) {
  display: flex;
  align-items: center;
}

nav div:nth-child(3) img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

nav img:nth-child(1) {
  height: 20px;
}

nav img:nth-child(2) {
  height: 36px;
  padding: 9px 0px;
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.card img {
  height: 100px;
}

.description {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding-left: 8px;
}

.description h2 {
  margin: 0;
  font-size: 1.2rem;
}

.description p {
  margin: 0;
  color: #727272;
  font-size: 0.8rem;
}

.video h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

.video p {
  color: #727272;
  font-size: 0.9rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #727272;
}

nav input {
  background-color: #121212;
  border: none;
  padding: 8px;
  font-size: 1rem;
  width: 535px;
  border-radius: 0;
}

nav input:focus {
  outline: 1px solid blue;
}

nav button {
  height: 34px;
  background-color: #313131;
  border: none;
  width: 65px;
}
